# Assignment

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

String

In [1]:
# String -- ""   ''
string="My first assingnment"
print("Print The Data :",string)
string

Print The Data : My first assingnment

'My first assingnment'

In [2]:
type(string)

str

In [3]:
s2=str(input("Enter any variable : "))
print(type(s2))
print(s2)

Enter any variable : Lalit
<class 'str'>
Lalit

List

In [4]:
list1=[]   # blanck list # list are oderad collection of items
list1

[]

In [5]:
type(list1)

list

In [6]:
len(list1)

0

In [7]:
list2=["Mobile","Laptop",89,47,75.13,21.5,"A",True]
list2

['Mobile', 'Laptop', 89, 47, 75.13, 21.5, 'A', True]

In [8]:
type(list2)

list

In [9]:
len(list2)

8

In [10]:
list3=[1,2,3,4,5]  #indexing list # mutable
list3

[1, 2, 3, 4, 5]

In [11]:
type(list3)

list

In [12]:
len(list3)

5

In [13]:
list4=[45.2,55.5,48.5,65.3,57.5]
list4

[45.2, 55.5, 48.5, 65.3, 57.5]

In [14]:
type(list4)

list

In [15]:
len(list4)

5

In [16]:
list5=["A","B","C","D"]
list5

['A', 'B', 'C', 'D']

In [17]:
type(list5)

list

In [18]:
len(list5)

4

Float

In [19]:
# Float is represent decimal number
f1=14.50
f1

14.5

In [20]:
print("Print float Number",f1)

Print float Number 14.5

In [21]:
type(f1)

float

In [22]:
f2=float(input("Enter any Number : "))
print(type(f2))
print(f2)

Enter any Number : 12.65
<class 'float'>
12.65

Tuple

In [23]:
# tuple is represnt with () 
tuple1=(45,25,12,9,5,36,42)
tuple1

(45, 25, 12, 9, 5, 36, 42)

In [24]:
tuple2=(29,3,47.5,59.004,"aa","dal")
tuple2

(29, 3, 47.5, 59.004, 'aa', 'dal')

In [25]:
tuple3=("l","a","l","i","t")
tuple3

('l', 'a', 'l', 'i', 't')

In [26]:
print(type(tuple3))

<class 'tuple'>

In [27]:
type(tuple2)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

Data Types

In [28]:
var1=''
type(var1)

str

In [29]:
var2="[DS, ML, Pyhton]"
print(var2)
type(var2)

[DS, ML, Pyhton]

str

In [30]:
var3=["DS","Ml","Python"]
type(var3)

list

In [31]:
var3

['DS', 'Ml', 'Python']

In [32]:
var4=1
var4

1

In [33]:
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

Division operator  -----   /

In [34]:
a=int(input("Enter any number : "))
b=int(input("Enter any number : "))
c=a/b
print("the divided number is : ",c)
print(type(c))

Enter any number : 15
Enter any number : 3
the divided number is :  5.0
<class 'float'>

Modulo operator -------  %

In [35]:
m1=int(input("Enter any number : "))
m2=int(input("Enter any number : "))
m1_m2=m1%m2
print("the remainder is : ",m1_m2)
print(type(m1_m2))

Enter any number : 12
Enter any number : 3
the remainder is :  0
<class 'int'>

Floor Division operator ----- //

In [36]:
fd1=int(input("Enter any number : "))
fd2=int(input("Enter any number : "))
fd3=fd1//fd2
print("the floor divided number is : ",fd3)
print(type(fd3))

Enter any number : 184
Enter any number : 8
the floor divided number is :  23
<class 'int'>

Power operator ------ **

In [37]:
p1=int(input("Enter any number : "))
p=p1**2
print("Square root of ",p1,"is : ",p)

Enter any number : 5
Square root of  5 is :  25

In [38]:
p2=int(input("Enter any number : "))
p=p2**3
print("cube root of ",p2,"is : ",p)

Enter any number : 3
cube root of  3 is :  27

In [39]:
a=int(input("Enter number : "))
b=int(input("Enter Power  : "))
c=a**b
print("the number is:",c)

Enter number : 5
Enter Power  : 3
the number is: 125

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [40]:
list10=[10,15,5.6,7.5,"Goyal","Lalit",True,False,5+6j,9+2j]
for i in list10:
    print(type(i),i)
else:
    print("Class and Element Successfully completed")

<class 'int'> 10
<class 'int'> 15
<class 'float'> 5.6
<class 'float'> 7.5
<class 'str'> Goyal
<class 'str'> Lalit
<class 'bool'> True
<class 'bool'> False
<class 'complex'> (5+6j)
<class 'complex'> (9+2j)
Class and Element Successfully completed

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [41]:
A = int(input("Enter the dividend (A): "))
B = int(input("Enter the divisor (B): "))

count = 0

while A % B == 0:
    A = A // B
    count += 1

if count > 0:
    print(f"{A} is divisible by {B} and can be divided {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

Enter the dividend (A): 16
Enter the divisor (B): 4
1 is divisible by 4 and can be divided 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [42]:
list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in list1:
    if(i%3)==0:
        print("it is divisible     :", i)
    else:
        print("it is not divisible :", i)

it is not divisible : 1
it is not divisible : 2
it is divisible     : 3
it is not divisible : 4
it is not divisible : 5
it is divisible     : 6
it is not divisible : 7
it is not divisible : 8
it is divisible     : 9
it is not divisible : 10
it is not divisible : 11
it is divisible     : 12
it is not divisible : 13
it is not divisible : 14
it is divisible     : 15
it is not divisible : 16
it is not divisible : 17
it is divisible     : 18
it is not divisible : 19
it is not divisible : 20
it is divisible     : 21
it is not divisible : 22
it is not divisible : 23
it is divisible     : 24
it is not divisible : 25

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable

Mutable Object can be change after it is created

In [43]:
l1=[25,12,28,45.2,29.8,26.54762,"Lalit","Goyal",True,False]
l1

[25, 12, 28, 45.2, 29.8, 26.54762, 'Lalit', 'Goyal', True, False]

In [44]:
l1[7]

'Goyal'

In [45]:
l1[7]="Agarwal"

In [46]:
l1

[25, 12, 28, 45.2, 29.8, 26.54762, 'Lalit', 'Agarwal', True, False]

In [47]:
l1[2]=18

In [48]:
l1[4]=15.25468

In [49]:
l1

[25, 12, 18, 45.2, 15.25468, 26.54762, 'Lalit', 'Agarwal', True, False]

In [50]:
l1.append(25)

In [51]:
l1.extend([24,6,23,24])

In [52]:
l1

[25,
 12,
 18,
 45.2,
 15.25468,
 26.54762,
 'Lalit',
 'Agarwal',
 True,
 False,
 25,
 24,
 6,
 23,
 24]

In [53]:
len(l1)

15

In [54]:
dict1={"Name":["Deepak","Karan","Lalit"],"Id":[101,102,103],"Age":[26,27,28]}

In [55]:
dict1

{'Name': ['Deepak', 'Karan', 'Lalit'],
 'Id': [101, 102, 103],
 'Age': [26, 27, 28]}

In [56]:
dict1["Work"]=["Business","JOB","JOB"]

In [57]:
dict1

{'Name': ['Deepak', 'Karan', 'Lalit'],
 'Id': [101, 102, 103],
 'Age': [26, 27, 28],
 'Work': ['Business', 'JOB', 'JOB']}

Immutable objects

Immutable object cannot be changed after it is created

In [58]:
name="this is my fist assignment "
name

'this is my fist assignment '

In [59]:
name[5]

'i'

In [60]:
name[:8]

'this is '

In [61]:
name[5:8]='is not'

TypeError: 'str' object does not support item assignment

### TypeError: 'str' object does not support item assignment

In [62]:
tup1=(1,2,3,4,5,"Babita","Goyal",45.21,52.78,62.74,True)

In [63]:
tup1

(1, 2, 3, 4, 5, 'Babita', 'Goyal', 45.21, 52.78, 62.74, True)

In [64]:
tup1[5]

'Babita'

In [65]:
tup1[3]=1

TypeError: 'tuple' object does not support item assignment

### TypeError: 'tuple' object does not support item assignment